:root {
  /* color scheme */
  --white: hsl(0, 0%, 100%);
  --violet-light: hsl(270, 3%, 87%);
  --violet-normal: hsl(279, 6%, 55%);
  --violet-dark: hsl(278, 68%, 11%);
  --error: hsl(0, 100%, 66%);
  --gradient-from: hsl(249, 99%, 64%);
  --gradient-to: hsl(278, 94%, 30%);

  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;

  color-scheme: light dark;
  color: var(--violet-light);
  background-color: var(--violet-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--violet-dark);
    background-color: var(--violet-light);
  }
}
